.top-search-result {
  padding: 3px;
}
.imgCard {
  height: 300px;
  min-width: 200px;
  display: inline-block;
  border: 2px solid rgb(220, 218, 218);

}

.colorGold {
  color: gold;
}

.itemLoader {
  width: 100%;
}

.imgInCard {
  margin-top: 10px;
  height: 170px;
  width: 100%;
  padding: 5px;
  object-fit: contain;
}

.price {
  text-align: left;
  width: 100%;
  height: 20px;
  padding-left: 5px;
  font-size: 16px;
}

.rating {
  font-size: 16px;
  text-align: left;
  width: 100%;
  height: 20px;
  padding-left: 5px;
}

.dis {
  width: 100%;
  padding: 5px;
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
}

@media screen and (min-width: 0px) {
  .imgCard {
    width: 100%;
  }
}

@media screen and (min-width: 500px) {
  .imgCard {
    width: 48%;
  }
}

@media screen and (min-width: 768px) {
  .imgCard {
    width: 32%;
  }
}

@media screen and (min-width: 1000px) {
  .imgCard {
    width: 24%;
  }
}

