.top-search-result {
  padding: 6px;
}
.imgCard {
  min-width: 200px;
  padding: 8px;
  display: inline-block;
  border: 1px solid #f5f5f5;
  margin: 2px 2px 20px 2px;
}

.colorGold {
  color: gold;
}

.itemLoader {
  width: 100%;
}

.imgInCard {
  margin-top: 10px;
  height: 170px;
  width: 100%;
  object-fit: contain;
}

.price {
  text-align: left;
  width: 100%;
  height: 20px;
  padding-left: 5px;
  font-size: 16px;
}

.rating {
  font-size: 16px;
  text-align: left;
  width: 100%;
  height: 20px;
  padding-left: 5px;
}

.dis {
  width: 100%;
  height: 2.7em;
  padding: 5px;
  overflow: hidden;
  text-overflow: ellipsis;
  display: -webkit-box;
  -webkit-line-clamp: 2;
  /* # This is to limit the number of lines */
  -webkit-box-orient: vertical;
}
.grid-display {
  display: grid;
  grid-template-areas: "filter display display display display";
  background-color: white;
}
.products-display {
  grid-area: display;
  width: 0;
  min-width: 100%;
}
.filter {
  grid-area: filter;
  width: 0;
  min-width: 100%;
  border-right: 1px solid rgb(235, 235, 235);
  padding: 5px;
}
.filter p{
  display: flex;
  font-size: 15px;
  width: 100%;
  justify-content: flex-start;
}
.price-tag {
  font-size: calc(13px + 0.75vw);
}
.marginTh{
  margin-left: 5px;
}
@media screen and (min-width: 0px) {
  .imgCard {
    width: 100%;
  }
}

@media screen and (min-width: 500px) {
  .imgCard {
    width: 48%;
  }
}

@media screen and (min-width: 768px) {
  .imgCard {
    width: 32%;
  }
}

@media screen and (min-width: 1000px) {
  .imgCard {
    width: 23.5%;
  }
}
